* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */

.header {
    min-height: 100vh;
    background: darkred;
    display: flex;
    flex-direction: column;
}

.header__nav {
    padding: 20px 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 42px;
    text-transform: uppercase;
    color: #fff;
}

.header__list {
    display: flex;
    column-gap: 30px;
}

.header__link {
    font-size: 24px;
    color: #fff;
}

.header__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

.header__title {
    /* font-size: 75px; */
    font-size: calc(50px + 25 * (100vw / 1920));
}

.header__txt {
    font-size: 28px;
}

@media (max-width: 767px) {
    .header__title {
        font-size: calc(50px + (25 + 25 * 0.7) * ((100vw - 320px) / 1920));
    }
    
    .header__list {
        display: none;
    }
}

/* header end */